---
import GitHubIcon from "./icons/GitHubIcon.astro";
import LinkedInIcon from "./icons/LinkedInIcon.astro";
---

<footer class="container flex justify-between py-7 px-6 max-w-7xl">
    <p class="text-center text-base">
        &copy; {new Date().getFullYear()} Derechos reservados
    </p>
    <div class="flex gap-4">
        <a href="https://github.com/AlexisChebeste" aria-label="Perfil de GitHub de Alexis Chebeste, desarrollador Front-End" target="_blank" rel="noopener noreferrer" role="link">
            <GitHubIcon class="size-6 hover:scale-150"/>
        </a>
        <a href="https://www.linkedin.com/in/alexis-chebeste" aria-label="Perfil de LinkeIn de Alexis Chebeste, desarrollador Front-End" target="_blank" rel="noopener noreferrer" role="link">
            <LinkedInIcon class="size-6 hover:scale-150"/>	
        </a>
        
    </div>
</footer>