---
import Email from "./icons/Email.astro";
import Comment from "./icons/Comment.astro";
import User from "./icons/User.astro";
import SectionContainer from "./SectionContainer.astro";
import Subtitle from "./Subtitle.astro";


---

<SectionContainer class="items-center" id="contact">
    <Subtitle>Contáctame</Subtitle>
    <form 
        autocomplete="off"
        id="form"
        class="flex flex-col gap-6 max-w-3xl mx-auto w-full" 
    >
        <label  for="from_name" class="text-lg font-semibold leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70">Nombre</label>
        <div class="relative ">
            <User class="absolute left-4 top-1/2 transform -translate-y-1/2 text-muted-foreground " />
            <input 
                type="text" 
                id="from_name" 
                name="from_name" 
                placeholder="Tu nombre" 
                class="input-form" 
                required
            />
        </div>
        <label  for="email_user" class="text-lg font-semibold leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70">Email</label>
        <div class="relative ">
            <Email class="absolute left-4 top-1/2 transform -translate-y-1/2 text-muted-foreground " />
            <input 
                type="email" 
                id="email_user" 
                name="email_user" 
                placeholder="tu@email.com" 
                class="input-form" 
                required
            />
        </div>
        <label  for="message" class="text-lg font-semibold leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70">Mensaje</label>
        <div class="relative ">
            <Comment class="absolute left-4 top-6 transform -translate-y-1/2 text-muted-foreground " />
            <textarea
              name="message" 
              id="message"
              placeholder="Escribe tu mensaje"
              class="input-form min-h-[100px] "
              required
            />
          </div>
        <button id="button" class="mx-auto border border-slate-300 dark:border-stone-600 justify-center w-full bg-slate-50 text-gray-900 hover:bg-slate-200 px-6 py-3 flex gap-2 items-center rounded-lg text-sm font-medium">Enviar Mensaje</button>
    </form>
</SectionContainer>

<style>

    .input-form{
        @apply dark:bg-neutral-950 w-full px-10 py-2 text-sm text-gray-950 dark:text-white text-opacity-80 placeholder-gray-700 dark:placeholder-gray-400 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-slate-300 dark:focus:ring-slate-200 focus:border-transparent ;
    }
</style>
