---
import Button from "./Button.astro";
import Email from "./icons/Email.astro";
import Comment from "./icons/Comment.astro";
import User from "./icons/User.astro";
import SectionContainer from "./SectionContainer.astro";
import Subtitle from "./Subtitle.astro";
---

<SectionContainer class="items-center" id="contact">
    <Subtitle>Contáctame</Subtitle>
    <form class="flex flex-col gap-6 max-w-3xl mx-auto w-full">
        <label  for="name" class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70">Nombre</label>
        <div class="relative peer bg-neutral-950 border border-stone-600 rounded-lg  text-sm">
            <User class="absolute left-4 top-1/2 transform -translate-y-1/2 text-muted-foreground " />
            <input type="text" id="name" name="name" placeholder="Tu nombre" class="pl-10 bg-transparent w-full py-3" required/>
        </div>
        <label  for="email" class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70">Email</label>
        <div class="relative peer bg-neutral-950 border border-stone-600 rounded-lg  text-sm">
            <Email class="absolute left-4 top-1/2 transform -translate-y-1/2 text-muted-foreground " />
            <input type="email" id="email" name="email" placeholder="tu@email.com" class="pl-10 bg-transparent w-full py-3" required/>
        </div>
        <label  for="text" class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70">Mensaje</label>
        <div class="relative peer bg-neutral-950 border border-stone-600 rounded-lg  text-sm">
            <Comment class="absolute left-4 top-6 transform -translate-y-1/2 text-muted-foreground " />
            <textarea id="text" name="text" placeholder="Tu mensaje" class="pl-10 bg-transparent w-full py-3 min-h-24" required/>
        </div>
        <Button type="submit" class="mx-auto justify-center w-full hover:scale-105 bg-slate-50 text-zinc-900 hover:bg-slate-200 ">Enviar Mensaje</Button>
    </form>
</SectionContainer>