---
import ToggleTheme from './ToggleTheme.astro'
---


<header class="w-full p-4 text-gray-800 dark:text-white border-b border-b-slate-400 fixed z-10 backdrop-blur-sm ">
    <div class="flex justify-between max-w-7xl mx-auto items-center">
        <nav class="flex gap-8 text-sm font-semibold">
            <a href="#hero">Inicio</a>
            <a href="#about">Sobre mí</a>
            <a href="#projects">Proyectos</a>
            <a href="#contact">Contacto</a>
        </nav>
        <ToggleTheme />
    </div>
    
</header>

