
<header class="w-full p-4 text-white border-b fixed  z-10 backdrop-blur-sm ">
    <nav class="flex gap-8 mx-auto max-w-7xl text-sm">
        <a href="#hero">Inicio</a>
        <a href="#about">Sobre mí</a>
        <a href="#projects">Proyectos</a>
        <a href="#contact">Contacto</a>
    </nav>
</header>

