---
import Button from "./Button.astro";
import ProjectsCards from "./ProjectsCards.astro";
import SectionContainer from "./SectionContainer.astro";
import Subtitle from "./Subtitle.astro";



---

<SectionContainer id="projects">
    <Subtitle>Proyectos</Subtitle><!-- 
    <div class="flex flex-wrap gap-4 ">
        <Button class=" focus:bg-slate-50 focus:text-stone-800 hover:scale-100 autofo">Todos</Button >
        <Button class="focus:bg-slate-50 focus:text-stone-800 hover:scale-100">React</Button>
        <Button class="focus:bg-slate-50 focus:text-stone-800 hover:scale-100">Tailwind CSS</Button>
    </div> -->
    <ProjectsCards />


</SectionContainer>