---
const {class: className} = Astro.props
---

<h2 class={`text-3xl font-bold text-gray-900 dark:text-white leading-tight tracking-tighter md:text-4xl md:leading-[1.1] mb-4 ${className}`}>
    <slot />
</h2>