---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="es" class="dark scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="Porfolio de Alexis Chebeste, desarrollador Front-End" />
		<meta name="generator" content={Astro.generator} />
		<title>Portfolio Alexis</title>
	</head>
	<body class="bg-gradient-to-b from-slate-100 to-slate-200 
			flex flex-col gap-8 items-center min-h-screen 
			dark:from-zinc-950 dark:to-zinc-900 dark:text-white">
		<Header />
		<slot />
		<Footer />
		
	</body>
	
</html>

